---
import {Content} from "./content/shadow.md"
interface Frontmatter {
  heading: string;
  btnText: string;
  btnLink: string;
  image: string;
  description?: string;
}

const shadow = await Astro.glob<Frontmatter>("./content/fontsize.md");
const { heading, btnText, btnLink, image, description } = shadow[0].frontmatter;
---

<section class='sticky p-4 rounded-lg top-0 min-h-screen border-t grid place-items-center shadow-xl bg-white'>
  <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8 bg-white border">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-8">

      <div class="mt-12 md:mt-0">
        <img src={image} alt="About Us Image" class="object-cover rounded-lg shadow-md"/>
      </div>  
      <div class="lg:max-w-lg space-y-xs">
            <h2 class="text-3xl font-extrabold text-primary-dark sm:text-4xl">{heading}</h2>
            <div>
                <pre class="whitespace-pre-wrap font-inter text-primary-slate/60">
                  <Content />
                </pre>
            </div>
            <div>
                <a href={btnLink} class="text-primary-blue font-medium group:"> {btnText}
                    <span class="ml-2 group-hover:pl-2 transition-all ease-linear duration-300">&#8594;</span></a>
            </div>
      </div>
    </div>
</div>
</section>

